extends layout
block content
    header
        h1 Welcome to #{room}
    #wrapper
        #player
        #chat
            #msgs
            form#chatForm
                input#msg(type='text',placeholder='Your Message',autocomplete="off")
        #users
            ul

        div#playlistContainer
            #ctrls
                form#addVideo
                    input#videoUrl(type='text', placeholder='video url', autocomplete="off")
                    input#addVideoBtn(type='submit', value='Add video')
                input#next(type='button', value='Next')
                input#resync(type='button', value='Resync')
            ol#playlist
