doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery-1.11.3.min.js')
    script(src='/socket.io/socket.io.js')
    script.
          var socket = io.connect('http://localhost:3000');
          var roomName = '#{room}'
    script(src='javascripts/script.js')
    script(src='javascripts/client.js')
  body
    block content