doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/room.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    script(src='https://www.youtube.com/iframe_api')
    script(src='javascripts/jquery-1.11.3.min.js')
    script(src='/socket.io/socket.io.js')
    script.
          var socket = io.connect(window.location.host);
          var roomName = '#{room}';
    script(src='javascripts/script.js')
    script(src='javascripts/client.js')
  body
    block content