doctype html
html
  head
    title= title
    script(src='/javascripts/youtube.js')
    script(src='/libs/jquery-1.11.3.min.js')
    script(src='/socket.io/socket.io.js')
    script.
          var socket = io.connect(window.location.host);
          var roomName = '#{room}';
    script(src='/javascripts/script.js')
    script(src='/javascripts/client.js')
    link(rel='stylesheet', href='/stylesheets/room.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
  body
    block content