extends layout
block content
    header
        h1 Welcome to #{room}
    #wrapper
        #player
        #chat
            ul#chatbox
            form#chatForm
                input#msg(type='text',autocomplete="off")
        #users
            ul
        #content
            #ctrls
                input#videoUrl(type='text', placeholder='video url')
                button(type='button')#addVideoBtn Add video
                button(type='button')#next Next
                button(type='button')#resync Resync
                button(type='button')#clearPlayed Clear
                button(type='button')#shuffle Shuffle
            #roomPlaylist
                ol#videos
            #info
                .numVideos
                .duration