body {
    background: #222 !important;
}

header h1, #info  {
    color: #fff;
}

button {
    background-image: linear-gradient(#888888,#555555);
    padding: 3px 8px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-style: solid;
    border-width: 1px;
    color: #eee;
    cursor: pointer;
    border-color: #666;
    border-radius:2px;
}

button:active {
    background-image: linear-gradient(#444444,#888888);
}

#wrapper {
    width:1100px;
    margin: 0 auto;
    min-width:700px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color:#999;
    border-radius:5px;
}

#player, #chat, #users, #content {
  height:480px;
  background-color: rgba(0,0,0,0.1);
  float:left;
}
#users, #content {
  background-color: #eaeaea;
  overflow: auto;
  overflow-x: hidden;
}

#player, #content {
  width:640px;
}

#rightcolumn {
    min-width:460px;
    height:480px;
    min-height:480px;
    max-height:780px;
    float: right;
}

#drag {
    clear:both;
    cursor:s-resize;
    min-width:460px;
    transition: min-height 0.2s;
    min-height: 4px;
    background-color:rgba(64, 119, 128, 0.35);
}

#drag:hover {
    background-color: rgba(87, 226, 249, 0.71);
    min-height: 8px;
}

#users {
    width: 160px;
    max-width: 160px;
    min-height: 100%;
}

#chat {
  height:100%;
  width:300px;
}

#chat ul {
    background-color:#f0f0f0;
}

#msg {
  width: 285px;
  height: 30px;
  padding-left: 12px;
}

#addVideo {
  float:left;
}

#users ul {
  margin: 0;
  padding: 0;
}

/**
  Chatbox
**/

#chatbox {
  height: calc(100% - 36px);
  overflow:auto;
  word-wrap:break-word;
  padding: 0;
  margin:0;
  border-right: 1px solid #c4c4c4;
}

#chatbox li, #users ul li {
  list-style-type: none;
  padding-left: 5px;
}
#chatbox li:hover, #users ul li:hover {
  background-color: rgba(31, 62, 62, 0.05);
  cursor: pointer;
}

/**
  Playlist
**/

#ctrls {
    width:458px;
    margin: 0 auto;
    padding:5px;
}

#clear, #shuffle {
    display:none;
}

#content {
    background-color:#333333;
    resize: vertical;
    height: 300px;
}

#content ol {
  background-color:#f0f0f0;
  margin: 5px auto;
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: 0;
  width:95%;
}

#roomPlaylist {
  height: 80%;
  overflow-y: auto;
  background-color:#555;
}

#videos li {
  background-color: #4a4a4a;
  color:#d6d6d6;
  counter-increment: step-counter;
  list-style-type: none;
  border-bottom: 1px solid #b8b8b8;
}

#videos li div {
  text-overflow: ellipsis;
  overflow:hidden;
}

#videos li a, #videos li div:first-child::before  {
  font-size: 1em;
}

#videos li div:first-child::before {
  content: counter(step-counter);
  margin-right: 2px;
  padding: 3px 8px;
}

#videos .active  {
    background-color:#fff;
    color:#000;
}

#videos li:hover:not(.active) {
    cursor: pointer;
    background-color:rgba(1,1,1,0.5);
}

/**
  Info
**/

#info {
  margin-top: 5px;
}
#info .numVideos {
  float:left;
}

#info .duration {
  float:right;
}