body {
    background-image: url('../images/bg.png');
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.4;
}


a:link, a:visited {
    color: #00B7FF;
    text-decoration:none;
}