body {
  background-color: #535353
}

#wrapper {
  width:1200px;
  margin: 0 auto;
  min-width:700px;
}

#player, #chat, #users, #content {
  height:480px;
  background-color: rgba(0,0,0,0.1);
  float:left;
}
#users, #content {
  background-color: #eaeaea;
  overflow: auto;
  overflow-x: hidden;
}

#player, #content {
  width:640px;
}

#content {
  max-height: 300px;
}

#users {
  width:160px;
}

#chat {
  width:300px;
  background-color: #f0f0f0;
}
#msg {
  width: 285px;
  height: 40px;
  padding-left: 12px;
}

a:link, a:visited {
  color: #00B7FF;
  text-decoration:none;
}

.active  {
  background-color: #4a4a4a;
  color:#d6d6d6;
}

#addVideo {
  float:left;
}

#users ul {
  margin: 0;
  padding: 0;
}

/**
  Chatbox
**/

#msgs {
  height:435px;
  overflow:auto;
}

#msgs li, #users ul li {
  list-style-type: none;
}
#msgs li:hover, #users ul li:hover, #playlist li:hover:not(.active) {
  background-color: rgba(31, 62, 62, 0.05);
  cursor: pointer;
}
#msgs>li>div, #users>ul>li>div {
  margin-left: 10px;
}

/**
  Playlist
**/

#content ol {
  background-color:#f0f0f0;
  margin: 5px auto;
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: 0;
  width:95%;
}

#playlistContainer {
  height: 85%;
  overflow-y: scroll;
}


#playlist li {
  counter-increment: step-counter;
  list-style-type: none;
  border-bottom: 1px solid #b8b8b8;
}

#playlist li div {
  text-overflow: ellipsis;
  overflow:hidden;
}

#playlist li a, #playlist li div:first-child::before  {
  font-size: 1em;
}

#playlist li div:first-child::before {
  content: counter(step-counter);
  margin-right: 2px;
  padding: 3px 8px;
}

/**
  Info
**/

#info {
  margin-top: 5px;
}
#info .numVideos {
  float:left;
}

#info .duration {
  float:right;
}